<!DOCTYPE html>
<html>

<head>
    <title>Tokopedia Traktir Ultah</title>
</head>

<body>
    <style>
        .isibox{margin:0 5px;display: inline-block;padding: 8px;px;border-radius:10px; border: 1px solid #ddd;text-align:center; width: 100px;}
    .isibox img{width:100%;}
    </style>
    Hallo Apa Kabar ?<br />
    <h1>Halo Apa Kabar ?</h1>
    <div style="box-shadow: 5px 5px #ddd;padding:20px; border:1px solid #ddd; border-radius:5px;">
        <div class="isibox">
            <a href="kat1.html"><img alt="makanan kering" src="kat1.webp" /></a>
        </div>
        <div class="isibox">
            <a href="kat1.html"><img  alt="figure" src="https://images.tokopedia.net/img/cache/200-square/attachment/2018/8/9/3127195/3127195_c6f70915-577f-4cd4-834c-daf892265ef0.jpg.webp" /></a>
        </div>
        
        <div class="isibox">
            <a href="kat1.html"><img  alt="tas selempang" src="https://images.tokopedia.net/img/cache/200-square/attachment/2018/8/9/3127195/3127195_d7c67b76-9ff4-46f9-93a3-ec4be4918439.jpg.webp" /></a>
        </div>
        </div>
    </div>
    <p>Hallo Apa Kabar ?
        Hallo Apa Kabar ?</p>

    <b>Hallo Apa Kabar ?</b>
    <br />
    [ <a href="https://www.its.ac.id/">Web ITS</a>] -
    [ <a href="https://www.detik.com/" target="_blank">Detik.com</a> ] -
    [ <a href="https://www.google.com" target="_parent">Google</a> ]

    
</body>

</html>