<!DOCTYPE html>
<html>

<head>
    <title>CSS</title>
    <link rel="stylesheet" href="mystyle.css">
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: blueviolet;
        }
        p, div{
            text-align: center;
        }
        .salam{
            font-size: larger;
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
        }
        .garisbawah{
            text-decoration: underline;
            color: black;
        }
    </style>
</head>

<body>
    <!-- Inline CSS digunakan hanya jika 1 bagian di 1 halaman yg berbeda -->
    Hello <b style="color: red; text-decoration: underline; text-shadow: 2px 2px black; ">apa</b> kabar ?
    <!-- Image CSS, digunakan jika yg berbeda hanya di 1 halaman -->
    <div class="salam garisbawah">Hello apa kabar ?</div>
    <!-- External File, digunakan untuk global 1 situs -->
    <span>Hello apa kabar ?</span>
    <p class="sembunyi">Hello apa kabar ?</p>
</body>


</html>